nav ul li {
    font-size:large;
    list-style-type: none;
    display:inline-block;
    padding: 15px;
    background-color: rgba(255, 228, 196, 0.584);
    margin: 10px;
}
header {
    background-color: rgba(242, 215, 213, 0.698);
  
}
body {
    background-color: rgba(255, 235, 205, 0.359);
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}
.container {
    background-color: rgba(246, 221, 204, 0.622);
    width: 400px;
    padding: 20px;
    border: 3px solid yellow;
    border-radius: 90px;
    
 
}
section{
    background-color: white;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; /* background: color(white) image(url(bg.jpeg)) no-repeat fixed center center/cover */
    background-size: cover;
    height: 800px;
}

.box {
height: 300px;
width: 300px;
background-color: #555;
margin: 10px;
display: inline-block;
}
.box1 {
    background-color: purple;
    border: 10px  dotted white
}
.box2 {
    background-color: rgb(98, 98, 179);
    border: 10px double white
    
}
.box3 {
    background-color: rgb(7, 49, 7);
    border-top: 10px groove green;
    border-right: 10px groove yellow;
    border-bottom: 10px groove blue;
    border-left: 10px groove red;
    
}
.box4 {
    background-color: rgb(118, 177, 118);
    border-radius: 50px;
    border: 10px dashed  rgb(147, 240, 147) ;

}
.box5 {
    border-radius: 50%;
    border: 10px dotted white;
}