p {
    color: rgb(169, 73, 73);
    background-color: rgb(195, 218, 209);
}
body {
    background-color: rgb(204, 187, 219);
    text-align: center;
}
#strangeidbox{
    color: rgb(24, 77, 27);
    background-color: antiquewhite;
}
/* FIX THIS */
.blueclass {
    color: blue;
    background-color: rgb(193, 235, 235);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* FIX THIS */ 