* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darckGrey: rgb(114, 117, 88);
    --lightGrey: rgba(250, 235, 215, 0.311);
    --primary-color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* ################### Header ################### */

header {
    height: 100vh;
    color: var(--darckGrey);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
}

header.gallery {
    height: 10vh;
    color: black;
    background-color: rgb(250, 235, 215);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 1;
}

.heroBanner {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    z-index: -100;

}


h1 {
    width: 100vw;
    text-align: center;
    font-size: 3rem;
    color: rgb(159, 165, 105);
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 100vw;
    padding: 10px;
}

h5 {
    font-size: 1.5rem;
}

nav ul li {
    font-size: x-large;
    display: inline-block;
    margin: 8px;
}

a {
    color: var(--darckGrey);
    font-size: 1.2rem;
    padding: 5px;
}

.mobile {
    display: none;
}

/* ################### Body ################### */



section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 5vh 5vw;
    scroll-margin-top: 4rem;
    min-height: 75vh;
}

p {
    font-size: 14pt;
    width: 75%;
    text-align: justify;
    vertical-align: top;
    color: #c5c5c5;
    line-height: 1.5;
}

h2 {
    font-size: 20pt;
    color: #c5c5c5;
    padding: 0;
    vertical-align: center;
    width: 100vw;
}

/* ################### Projects ################### */

.projectBGBox {

    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--lightGrey);
    justify-content: space-around;
    border-radius: 10px;

}

.projectBGBox:hover {
    box-shadow: 8px 8px 8px #c5c5c547;
}

#projectId {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectImg {
    width: 200px;
    margin: 1rem;
}

/* ########################## About me section ##########################*/


section img {
    height: 400px;
}

/* ########################## Skills section ##########################*/

.skillsBox {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--lightGrey);
    margin-top: 20px;
    color: hsl(15, 69%, 73%);
}

.skillsBox label {
    color: black;
    font-size: 16px;
}

.skillsBox:nth-child(2n+1) {
    background-color: rgba(250, 235, 215, 0.421);
}

i {
    font-size: 50px;
}

progress {
    width: 80%;
    height: 30px;
}

/* ########################## Footer SETTINGS ##########################*/

footer {
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    text-align: center;
    color: #c5c5c5;
    padding: 15px;
    font-size: 8pt;
    width: 200px;
}

.copyrights {
    font-size: 8pt;
    text-align: center;
    width: 100vw;
}

input,
textarea {
    width: 200px;
}

button {
    color: black;
    background-color: var(--darckGrey);
    padding: 0.5rem;
    border-radius: 0.8rem;
    margin: 1rem 0;
}

/* ################### Back to top button ################### */

#backToTop {
    background-color: var(--lightGrey);
    color: rgb(0, 0, 0);
    font-size: 3rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 2rem;
    display: none;
}

#backToTop:hover {
    text-shadow: 5px 5px 5px;
    cursor: default;
}

/*  ################### menu on scroll ################### */
.bg {
    background: rgba(250, 235, 215, 0.9);
    color: '#235e67';
    padding: 0.5rem;
    height: 5rem;
    width: 100vw;
}

.bg h1 {
    display: none;
}

/* ################### Gallery css ######################## */

.grid {
    display: grid;
    grid-template-areas: "a a b b d d" "a a b b d d" "a a c c d d" "a a c c d d" "e h h h d d" "f h h h i i" "g h h h i i";
    gap: 1rem 1rem;
    background-color: black;
    margin: 10rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.grid img {
    width: 100%;
    filter: brightness(0.5);
}

.grid img:hover {
    filter: brightness(1);
    filter: drop-shadow(8px 8px 8px #c5c5c547);
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
    align-self: stretch;
}

.c {
    grid-area: c;
    align-self: stretch;
}

.d {
    grid-area: d;
    align-self: stretch;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}

.h {
    grid-area: h;
}

.i {
    grid-area: i;
}

/* ################################################ */
/* Mobile setings */

@media (max-width:576px) {
    header div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }

    input {
        width: 100px;
    }

    textarea {
        width: 100px;
        height: 50px;
    }
}






@media (max-width:992px) {

    a {
        font-size: 1.5rem;
    }

    h1 {
        color: var(--darckGrey);
    }

    section {
        padding: 2vh 5vw;
    }

    section p {
        width: 90%;
        line-height: 1.52;
    }

    section img {
        width: 68vw;
        height: auto;
        margin: 20px 0;
    }

    .projectBGBox {
        margin: 10px 0;
    }

    label {
        font-size: 1rem;
    }

    /* Menu button */

    nav ul {
        display: none;
    }

    .mobile {
        display: block;
    }

    ul.responsive {
        display: block;
        background-color: rgb(250, 235, 215);
        color: black;
        position: absolute;
        left: 0;
        top: 5rem;
        width: 100%;
    }

    ul.responsive li {
        display: block;
        margin: 1rem;
    }
}

/* ################## Animated background################## */

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: rotate(-45deg);
    z-index: -5;
}

.star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
    z-index: -5;
}

@media screen and (max-width: 750px) {
    .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
}


.star:nth-child(1) {
    --star-tail-length: 5.87em;
    --top-offset: 17.72vh;
    --fall-duration: 7.498s;
    --fall-delay: 0.121s;
}


.star:nth-child(2) {
    --star-tail-length: 7.12em;
    --top-offset: 67.44vh;
    --fall-duration: 11.391s;
    --fall-delay: 5.18s;
}

.star:nth-child(3) {
    --star-tail-length: 6.73em;
    --top-offset: 36.81vh;
    --fall-duration: 11.355s;
    --fall-delay: 7.164s;
}

.star:nth-child(4) {
    --star-tail-length: 6.03em;
    --top-offset: 24.75vh;
    --fall-duration: 11.424s;
    --fall-delay: 5.948s;
}

.star:nth-child(5) {
    --star-tail-length: 6.49em;
    --top-offset: 66.73vh;
    --fall-duration: 7.127s;
    --fall-delay: 1.468s;
}

.star::before,
.star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}

.star::before {
    transform: rotate(45deg);
}

.star::after {
    transform: rotate(-45deg);
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}

@keyframes tail-fade {

    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }

    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0.6;
    }
}